node_modules/
vendor/
.env
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/database/*.sqlite
/.idea/
/*.log
.phpunit.result.cache
/.vscode/
/.DS_Store
/public/hot
/public/*.hot-update.*
